<ion-header>
  <ion-toolbar color="primary">
        <!--Boton para volver átras-->
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>{{usuario.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding >

  <div class="codal" id="codal">
    <div class="codal__content">
        <img src="" alt="" class="codal__img" id="codal__img">
    </div>
    <div class="codal__boton" id="codal__boton" (click)="cerrarModal()">X</div>
</div> 
   
         
<div>
  <ion-grid style="padding-bottom: 0;">
   
      <ion-row class="superior">
        <ion-col>
          <div class="circular--landscape">
            <img [src]="usuario.url" alt="">
          </div>               
         <h4>@{{usuario.nuser}}</h4>
        </ion-col>
      </ion-row>  
    
    </ion-grid>
</div>
  
      <div class="btnBuscar" style="text-align:center">
        <ion-button color="success" [routerLink]="['/chat', id]">
          <ion-icon name="chatbox"></ion-icon>
            Chat
        </ion-button>
        </div>



<!-- --------------------------------------------------------------------------------------- -->



<ion-grid class="fotos" >

  <ion-row>          
    <ion-col size="6"    *ngFor="let imagen of imagens">
     <img height="150px" width="100%" style="object-fit: cover;" class="grid-gallery__image" (click)="mostrarModal()" [src]="imagen.filepath">
    </ion-col>
  </ion-row>


</ion-grid>
  
  </ion-content>
  