ion-content{
    --background: #c6cfd3;
}
ion-card{
    width: 80%;
    min-width: 51%;
    max-width: max-content;
 
}
.messageLeft {
    float: left;
    
	}
.messageRight {
    float: right;
    h2{
        text-align: right;
    }
		
}