<ion-header>
  <ion-toolbar>
     <!--Boton para volver átras-->
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-list>
      <ion-item>
          <ion-avatar slot="start" [routerLink]="['/perfil',id]">
            <ion-img [src]="user.url"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{user.nombre}}</h2>
          </ion-label>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf ="chat">
    <div *ngFor="let mensaje of chat.messages">
    <ion-card style="margin-top: 5px;" [class]="mensaje.type == user2.id ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
      <ion-card-content style="padding: 0;">
        <ion-item>
          <ion-avatar slot="start" *ngIf="mensaje.type != user2.id" [routerLink]="['/perfil',id]">
            <ion-img [src]="user.url"></ion-img>
          </ion-avatar>
          <ion-label>
            <!-- <h2>{{mensaje.content}}</h2> -->
          </ion-label>
          <h2>{{mensaje.content}}</h2>
      </ion-item>
  
      </ion-card-content>
    </ion-card>
  </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea [(ngModel)]="msg"></ion-textarea>
    <ion-button color="success" (click)="enviar()" >
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
