<ion-header>
  <ion-toolbar>
    <!--Boton para volver átras-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Modo oscuro</ion-label>
      <ion-toggle slot="end" [(ngModel)]="this.usuario.dark" (ionChange)="modoDark()"></ion-toggle>
    </ion-item>
  </ion-list>
  <!-- Lista de datos a editar -->
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tus datos</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item class="activated">
            <ion-icon name="person-outline"  slot="start"></ion-icon>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
          </ion-item>
        
          <ion-item class="activated">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="text" name="email"  autocapitalize="off" required [(ngModel)]="usuario.correo" [(ngModel)]="user.email"></ion-input>
          </ion-item>
        
          <ion-item class="activated" >
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input type="number" [(ngModel)]="usuario.telefono"></ion-input>
          </ion-item>
      
          <ion-item>
              <ion-icon name="map-outline" slot="start"></ion-icon>
              <ion-label>Ciudad</ion-label>
              <ion-select [(ngModel)]="usuario.ciudad" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option value="cali">Cali</ion-select-option>
                <ion-select-option value="medellin">Medellin</ion-select-option>
                <ion-select-option value="bogota">Bogota</ion-select-option>
                <ion-select-option value="otros">Otros</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>
            

            <ion-card text-center *ngIf="!isUploading && !isUploaded">
              <ion-card-content>
                <div class="fileUpload btn btn-primary">
                  <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
                </div>
              </ion-card-content>
            </ion-card>




            <ion-card text-center *ngIf="isUploading && !isUploaded">           
              <ion-card-content>
                <div *ngIf="percentage | async as pct">
                  Progreso: {{ pct | number }}%
                  <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                </div>
                <div *ngIf="snapshot | async as snap">
                  Peso: {{ snap.totalBytes | fileSizePipe2 }} Transferido:
                  {{ snap.bytesTransferred | fileSizePipe2 }}
                  <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                    <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pausar</ion-button>
                    <ion-button size="small" (click)="task.resume()" class="button is-info">Continuar</ion-button>
                    <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancelar</ion-button>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>



            <ion-card text-center *ngIf="!isUploading && isUploaded">           
              <ion-card-content>
                <ion-button expand="full" color="success" (click)="isUploading = isUploaded = false">Cambiar foto de perfil</ion-button>
                <div >
                  <img [src]="usuario.url"/>
                </div>                
              </ion-card-content>
            </ion-card>

            <!-- Boton para guardar los cambios en la base de datos -->
            <ion-card>           
              <ion-card-content>
                <ion-button expand="block" (click)="editarUsuario()" type="submit" color="primary">Guardar</ion-button>         
              </ion-card-content>
            </ion-card>



            <ion-card>   
              <ion-card-header>
                <ion-card-title>Cerrar sección</ion-card-title>
              </ion-card-header>        
              <ion-card-content>
                <ion-button  color="danger" (click)="cerrarSesion()" type="submit">
                  <ion-icon name="log-out-sharp"></ion-icon>
                  Cerrar sección</ion-button>
              </ion-card-content>
            </ion-card>

            
              
      
    </ion-list>

</ion-content>
