ion-content{
    //Poner todos los objetos centrados
    text-align: center;
    // --background: blue;
    --background: linear-gradient(to bottom, rgb(235, 235, 235), white);

    img{
        width: 50%;
        margin: 20px;
    }
    ion-card{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}