<ion-content>
  <!--Logo de arby en la parte superior de la pantalla-->
  <img src="../../assets/imagenes/icon.png">

  <div class="list">
   <ion-card>
   
     <ion-card-content>
       <ion-list>
         <!--Campo de correo de la pantalla login-->
         <ion-item class="correo">
          <ion-label  position="floating">Usuario</ion-label>
           <ion-input [(ngModel)]="user.email" name="email" type="text" autocapitalize="off" required></ion-input>
         </ion-item>
         <!--Campo de contraseña de la pantalla login-->
         <ion-item class="contraseña">
           <ion-label  position="floating">Contraseña</ion-label>
           <ion-input [(ngModel)]="user.password" name="contraseña" type="password" required></ion-input>
         </ion-item>
       
       </ion-list>
       
     
       <!--Boton Ingresar con la propiedad full para que el boton tenga el 100% de ancho-->       
       <ion-button expand="block" (click)="onLogin()" type="submit" color="primary">Ingresar</ion-button>
    
     </ion-card-content>
     <p (click)="olvidarPassword()">¿Olvidaste tu contraseña?</p>
   </ion-card>

   <ion-card>
   
     <ion-card-content>
       <ion-list>     
         ¿No tienes una cuenta?
       </ion-list>
       <ion-list>     
        <a routerLink="/registrar">Crear cuenta</a>
       </ion-list>
     </ion-card-content>
    
     
   </ion-card>
          


  </div>

  
    


</ion-content>
