<ion-tabs color="danger">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab2">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Muro</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="tab3">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>

    

  </ion-tab-bar>

</ion-tabs>
