<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed"  pullFactor="0.5" pullMin="100" pullMax="150" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Suelte para refrescar"
      refreshingSpinner="Primary"
      refreshingText="Refrecando...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let publicacion of publicaciones" >

    
      <ion-chip [routerLink]="['/perfil',publicacion.id]">
        <ion-avatar>
          <img [src]="publicacion.url">
        </ion-avatar>
        <ion-label>{{publicacion.nombre}}</ion-label>
      </ion-chip>
  
    
  
    <img width="100%" [src]="publicacion.foto">
  
<!--     <ion-card-content>
      <p>Descripción</p>
    </ion-card-content> -->
    <ion-row>
      <ion-col>
        <ion-button  color="light" size="small">
          <ion-icon name="reader"></ion-icon>
          <div>4 Comentarios</div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger"  size="small" (click)="like(publicacion.hora)">
          <ion-icon name="ribbon"></ion-icon>
          <div>{{publicacion.likes}}</div>
        </ion-button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
         
        </ion-note>
      </ion-col>
    </ion-row>
  
  
  </ion-card>
  <ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
