

<ion-content>

  <img src="../../assets/imagenes/icon.png" class="logo">
  
    <ion-slides>
     <ion-slide>
        <ion-card>
          <ion-card-header>
            <img src="../../assets/imagenes/sesiones1.jpg" alt="">
            <ion-card-title>Tus datos</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item class="activated">
              <ion-icon name="person-outline"  slot="start"></ion-icon>
              <!-- <ion-label position="floating">Nombre</ion-label> -->
              <ion-input type="text" [(ngModel)]="usuario.nombre" placeholder="Nombre"></ion-input>
            </ion-item>
          
            <ion-item class="activated">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <!-- <ion-label position="floating">Correo</ion-label> -->
              <ion-input type="text" name="email"  autocapitalize="off" required [(ngModel)]="usuario.correo" [(ngModel)]="user.email" placeholder="Correo"></ion-input>
            </ion-item>
          
            <ion-item class="activated" >
              <ion-icon name="call-outline" slot="start"></ion-icon>
              <!-- <ion-label >Telefono</ion-label> -->
              <ion-input type="tel" [(ngModel)]="usuario.telefono" placeholder="Telefono"></ion-input>
            </ion-item>
          
<!--             <ion-item>
              <ion-icon name="map-outline" slot="start"></ion-icon>
              <ion-label>Ciudad</ion-label>
              <ion-select [(ngModel)]="usuario.ciudad" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option value="cali">Cali</ion-select-option>
                <ion-select-option value="medellin">Medellin</ion-select-option>
                <ion-select-option value="bogota">Bogota</ion-select-option>
                <ion-select-option value="otros">Otros</ion-select-option>
              </ion-select>
            </ion-item> -->

            <ion-item>
              <ion-icon name="ribbon-outline"></ion-icon>
              <ion-label>Tipo</ion-label>
              <ion-select [(ngModel)]="usuario.tipo" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option value="persona">Persona</ion-select-option>
                <ion-select-option value="barbero">Barbero</ion-select-option>
                <ion-select-option value="estilista">Estilista</ion-select-option>
                 <ion-select-option value="gym">Gimnasio</ion-select-option>
                <ion-select-option value="otros">Otros</ion-select-option>
               </ion-select>
            </ion-item>
          </ion-card-content>
          <ion-button fill="clear" (click)="goToSlide()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-card>

        
       
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <img src="../../assets/imagenes/sesiones2.jpg" alt="">
            <ion-card-title>Contraseña</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item class="activated">
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="usuario.password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
          
            <ion-item class="activated">
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-label position="floating">Confirmar contraseña</ion-label>
              <ion-input type="password"   name="contraseña" required [(ngModel)]="passwordConfirm"></ion-input>
            </ion-item>

          </ion-card-content>
          <ion-button fill="clear" (click)="goToSlide2()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-card>
         </ion-slide>

      <ion-slide>
        <ion-card text-center *ngIf="!isUploading && !isUploaded">
          <ion-card-content>
            <div class="fileUpload btn btn-primary">
              <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
            </div>
          </ion-card-content>
        </ion-card>



 
        <ion-card text-center *ngIf="isUploading && !isUploaded">           
          <ion-card-content>
            <div *ngIf="percentage | async as pct">
              Progreso: {{ pct | number }}%
              <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
            </div>
            <div *ngIf="snapshot | async as snap">
              Peso: {{ snap.totalBytes | fileSizePipe3 }} Transferido:
              {{ snap.bytesTransferred | fileSizePipe3 }}
              <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pausar</ion-button>
                <ion-button size="small" (click)="task.resume()" class="button is-info">Continuar</ion-button>
                <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancelar</ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>



        <ion-card text-center *ngIf="!isUploading && isUploaded">           
          <ion-card-content>
        <ion-button fill="clear" (click)="isUploading = isUploaded = false">Cambiar foto de perfil</ion-button>

            <div >
              <img [src]="usuario.url"/>
            </div>                
          </ion-card-content>
          <ion-button expand="full" color="success" (click)="validarCampos()">Finalizar</ion-button>
        </ion-card>
      </ion-slide>

    </ion-slides>
</ion-content>