ion-content{
    //Poner todos los objetos centrados
    text-align: center;
    --background: linear-gradient(to bottom, rgb(235, 235, 235), white);
    .logo{
        width: 50%;
        margin: 20px;
    }
}