ion-content{
  //Poner todos los objetos centrados
  text-align: center;
  
}
.superior{

    text-align: center;
}


.usuario{
   text-justify: auto;
}


.miniatura{
    text-decoration: none;
}

.miniatura img{
    width: 100%;
}


.modal{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100000;
    display: none;
  }
  .modal__content{
      display: flex;
      background: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .modal__img{
      width: 90%;
    }
    .modal__boton{
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      cursor: pointer;
      font-weight: bold;
      width: 50px;
      height: 50px;
      line-height: 50px;
      background: #DE423A;
      font-size: 2.5em;
      text-align: center;
      border-radius: 50%;
      font-family: monospace;
  
    }
  
    .modal--open{
      display: block;
    }
    .modal--close{
      display: none;
    }
  
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }

    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }

    .circular--landscape {
      display: inline-block;
      position: relative;
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-radius: 50%;
    }
    
    .circular--landscape img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }