   

    <div class="ion-page" main>
      <ion-header>
        <ion-toolbar color="danger">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{usuario.nombre}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="modal" id="modal">
          <div class="modal__content">
              <img src="" alt="" class="modal__img" id="modal__img">
          </div>
          <div class="modal__boton" id="modal__boton" (click)="cerrarModal()">X</div>
        </div> 
         
            <div>
              <ion-grid style="padding-bottom: 0;">
               
                  <ion-row class="superior">
                    <ion-col>
                      <div class="circular--landscape">
                        <img [src]="usuario.url" alt="">
                      </div>               
                     <h4>@{{usuario.nuser}}</h4>
                    </ion-col>
                  </ion-row>  
                
                </ion-grid>
            </div>
        

      
                    
              <ion-card-content *ngIf="!isUploading && !isUploaded" >
                <div class="fileUpload btn btn-primary">
                  <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
                </div>
              </ion-card-content>
           
      
      
            
              <ion-card-content *ngIf="isUploading && !isUploaded">
                <div *ngIf="percentage | async as pct">
                  Progreso: {{ pct | number }}%
                  <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                </div>
                <div *ngIf="snapshot | async as snap">
                  Tamaño: {{ snap.totalBytes | fileSizePipe }} Transferido:
                  {{ snap.bytesTransferred | fileSizePipe }}
                  <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                    <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pausar</ion-button>
                    <ion-button size="small" (click)="task.resume()" class="button is-info">Continuar</ion-button>
                    <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancelar</ion-button>
                  </div>
                </div>
              </ion-card-content> 
            
      
      <!-- --------------------------------------------------------------------------------------- -->
                
              <ion-card-content *ngIf="!isUploading && isUploaded" style="padding-top: 0;">
                <ion-button style="width: 30%;" color="danger" (click)="isUploading = isUploaded = false"><ion-icon name="camera-outline"></ion-icon></ion-button>
                <ion-button style="width: 30%;"><ion-icon name="chatbox-outline"></ion-icon></ion-button>                
                
              </ion-card-content>
           
      
      
      
            <ion-grid class="fotos" >
      
              <ion-row>          
                <ion-col size="12"    *ngFor="let imagen of imagens">
                  <img width="100%" style="object-fit: cover;" style="border-radius: 5px;" class="grid-gallery__image" (click)="mostrarModal()" [src]="imagen.filepath">
                  <ion-fab horizontal="end" vertical="top"  edge>
                    <ion-fab-button size="small" style="margin-top: 35px;" color="light"  fill="outline">
                      <ion-icon name="ellipsis-horizontal" ></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list>
                      <ion-fab-button style="margin-top: 15px;"  color="danger" (click)="showConfirm(imagen.id)" >
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-fab-button>
                    </ion-fab-list>
                  </ion-fab>
                </ion-col>
              </ion-row>
            </ion-grid>  
        </ion-content>
    </div>

