<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--Boton para volver átras-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!--Label para introducir de buscar el nombre del barbero-->
  <ion-searchbar showCancelButton="focus" placeholder="Buscar" [(ngModel)]="usuario.nuser"></ion-searchbar>

    <ion-list>
      <!--Boton encontrar el barbero por el nombre-->
      <ion-button color="primary" expand="full" (click)="buscarBarbero()">Buscar</ion-button>
      
    
      <!--Lista de busqueda de barberos -->
      <div>
        <ion-list ion-item *ngFor="let usuario of usuarios" fullscreen>
          <ion-item [routerLink]="['/perfil', usuario.id]"  *ngIf="usuario.id != username">
            <ion-avatar slot="start">
              <ion-img [src]="usuario.url"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{usuario.nombre}}</h2>
              <h3>@{{usuario.nuser}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>          
      </div> 


        
  
    </ion-list>


</ion-content>
