<ion-header>
  <ion-toolbar>
     <!--Boton para volver átras-->
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let usuario of usuarios" >
    <ion-item [routerLink]="['/chat', usuario.id]">
        <ion-avatar slot="start">
          <ion-img [src]="usuario.url"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{usuario.nombre}}</h2>
          <h3>{{usuario.nuser}}</h3>
          <p></p>
        </ion-label>
        <ion-badge *ngIf="usuario.mensaje!=0">{{usuario.mensaje}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
