<ion-header>
  <ion-toolbar>
        <!--Boton para volver átras-->
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>casa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Lista de datos a editar -->
    <ion-list>

            

            <ion-card text-center *ngIf="!isUploading && !isUploaded">
              <ion-card-content>
                <div class="fileUpload btn btn-primary">
                  <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
                </div>
              </ion-card-content>
            </ion-card>




            <ion-card text-center *ngIf="isUploading && !isUploaded">           
              <ion-card-content>
                <div *ngIf="percentage | async as pct">
                  Progreso: {{ pct | number }}%
                  <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                </div>
                <div *ngIf="snapshot | async as snap">
                  Peso: {{ snap.totalBytes | fileSizePipe5 }} Transferido:
                  {{ snap.bytesTransferred | fileSizePipe5 }}
                  <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                    <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pausar</ion-button>
                    <ion-button size="small" (click)="task.resume()" class="button is-info">Continuar</ion-button>
                    <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancelar</ion-button>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>



            <ion-card text-center *ngIf="!isUploading && isUploaded">           
              <ion-card-content>
                <ion-button expand="full" color="success" (click)="isUploading = isUploaded = false">Cambiar foto de casa</ion-button>
                <div >
                  <img [src]="usuario.url"/>
                </div>                
              </ion-card-content>
            </ion-card>

            <ion-card>
              <ion-card-header>
                <ion-card-title>Ingresar link</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <ion-item class="activated">
                  <ion-icon name="arrow-redo-outline"></ion-icon>
                  <ion-input type="text" [(ngModel)]="usuario.link"></ion-input>
                </ion-item>
                <ion-item class="activated">
                  <ion-icon name="ribbon-outline"></ion-icon>
                  <ion-input type="text" [(ngModel)]="usuario2.tipo" disabled></ion-input>
                </ion-item>
              
              </ion-card-content>
            </ion-card>

            <!-- Boton para guardar los cambios en la base de datos -->
                        <ion-card>           
                          <ion-card-content>
                            <ion-button expand="block" (click)="editarUsuario()" type="submit" color="primary">Guardar</ion-button>         
                          </ion-card-content>
                        </ion-card>

            
              
      
    </ion-list>

</ion-content>